body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: "IRANsans";
}
@font-face {
    font-family: "IRANsans";
    src: url(./font/iransansweb.woff2) format("woff2");
}


/* ---- header section ---- */


header{
    border-bottom: 4px solid #dc3c00;
}

/* ---- header ---- */


.header {
    width: 80%;
    margin: 0 auto;
    height: 90px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* ---- header right ---- */


.logo-svg {
    width: 177px;
    height: 76px;
    margin: 5px 0px 0px 28px;
}

/* ---- header middle top ---- */

.middle-top {
    width: 604.19px;
    height: 50.28px;
    line-height: 50.28px;
    display: flex;
    justify-content: space-between;
}



/*----- search box ---- */


.searchbox {
    display: flex;
    width: 289px;
    height: 13px;
    padding: 6px 12px;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 20px;
    border: 1px solid #d7d7d7;
    justify-content: space-between;
}

.searchbox:hover{
    outline: none;
}

/* ---- search box input ---- */

.input {
    width: 289px;
    height: 14px;
    border: none;
    outline: none;
    font-size: 11px;
    color: #999;
    font-family: IRANsans;
}

.searchicon{
    cursor: pointer;
    width: 14px;
    height: 14px;
}

.baamentry {
    width: 213px;
    height: 44px;
    cursor: pointer;
}

/* ---- menu of header middle bottom ---- */

.middle-bottom{
    direction: rtl;
    width: 600px;
    height: 40px;
    justify-content: right;
}

.items{
    font-size: 12px;
    padding: 0px 8px;
    color: #333333;
    line-height: 40px;
    border-left: 1px solid #d7d7d7;
    cursor: pointer;
}

.item6 {
    border: none;
}

/* megamenu for menu middle of header */

.items > .megamenu{
    top: 85px;
    right: 0px;
    width: 0%;
    height: 0px;
    position: absolute;
    background-color: #428bca;
    border-bottom: 5px solid rgb(170, 126, 16);
}

.items:hover{
    background-color: #428bca;
    color: #fff;
}
.items:hover > .megamenu{
    width: 100%;
    height: 500px;

}

/* ---- header left bottom ---- */


.header-left-top-items {
    font-size: 10px;
    text-decoration: none;
    color: #ffbb00;
    padding:0 6px;
    position: relative;
    top: -10px;

}
.header-left-top-items:hover{
    color: #428bca;
    text-decoration: underline;
}
.date{
    position: relative;
    top: -10px;
    font-size: 10px;
    color: #db873d;
    padding: 0 0 0 6px;

    
}
.arabi{
    border-left: 1px solid #db873d;
    border-right: 1px solid #db873d;
}
.flag {
    width: 27px;
    height: 35px;
}


/* ---- header left bottom ---- */
.app-section{
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: end;
}
.apps{
    padding-right: 12px;
}



/* ---- slide show ---- */