body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: "IRANsans";
}
@font-face {
    font-family: "IRANsans";
    src: url(./font/iransansweb.woff2) format("woff2");
}


/* ---- header section ---- */


header{
    border-bottom: 4px solid #dc3c00;
}

/* ---- header ---- */


.header {
    width: 80%;
    margin: 0 auto;
    height: 90px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* ---- header right ---- */


.logo-svg {
    width: 177px;
    height: 76px;
    margin: 5px 0px 0px 28px;
}

/* ---- header middle top ---- */

.middle-top {
    width: 604.19px;
    height: 50.28px;
    line-height: 50.28px;
    display: flex;
    justify-content: space-between;
}



/*----- search box ---- */


.searchbox {
    display: flex;
    width: 289px;
    height: 13px;
    padding: 6px 12px;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 20px;
    border: 1px solid #d7d7d7;
    justify-content: space-between;
}

.searchbox:hover{
    outline: none;
}

/* ---- search box input ---- */

.input {
    width: 289px;
    height: 14px;
    border: none;
    outline: none;
    font-size: 11px;
    color: #999;
    font-family: IRANsans;
}

.searchicon{
    cursor: pointer;
    width: 14px;
    height: 14px;
}

.baamentry {
    width: 213px;
    height: 44px;
    cursor: pointer;
}

/* ---- menu of header middle bottom ---- */

.middle-bottom{
    direction: rtl;
    width: 600px;
    height: 40px;
    justify-content: right;
}

.items{
    font-size: 12px;
    padding: 0px 8px;
    color: #333333;
    line-height: 40px;
    border-left: 1px solid #d7d7d7;
    cursor: pointer;
}

.item6 {
    border: none;
}

/* megamenu for menu middle of header */

.items > .megamenu{
    top: 85px;
    right: 0px;
    width: 0%;
    height: 0px;
    position: absolute;
    background-color: #428bca;
    border-bottom: 5px solid rgb(170, 126, 16);
}

.items:hover{
    background-color: #428bca;
    color: #fff;
}
.items:hover > .megamenu{
    width: 100%;
    height: 500px;

}

/* ---- header left bottom ---- */


.header-left-top-items {
    font-size: 10px;
    text-decoration: none;
    color: #ffbb00;
    padding:0 6px;
    position: relative;
    top: -10px;

}
.header-left-top-items:hover{
    color: #428bca;
    text-decoration: underline;
}
.date{
    position: relative;
    top: -10px;
    font-size: 10px;
    color: #db873d;
    padding: 0 0 0 6px;

    
}
.arabi{
    border-left: 1px solid #db873d;
    border-right: 1px solid #db873d;
}
.flag {
    width: 27px;
    height: 35px;
}


/* ---- header left bottom ---- */
.app-section{
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: end;
}
.apps{
    padding-right: 12px;
}



/* ---- slide show ---- */



.slideshow {
    width: 100%;
    height: 400px;
}


/* ---- blue line ---- */

.blueline{
    height: 253px;
    background-color: #428bca;
    position: relative;
    top: 449px;
}


/* ---- cards ---- */



.cards-container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.cards-container > div {
    height: 200px;
    background-color: gray;
}
.cards-container > .cards-item >  .card-list > ul {
    background-color: #0054a2;
    height: 240px;
    width: 260px;
    padding-top: 13px;
    position: relative;
    top: -30px;
}
.cards-container > .cards-item >  .card-list > ul > li {
    color: #fff;
    font-size: 13px;
    line-height: 25px;
}
.cards-container > .cards-item >  .card-list > ul > li > a {
    color: #fff;
    text-decoration: none;
    
}
.cards-container > .cards-item >  .card-list > ul > li > a:hover {
    text-decoration: underline;
}


/* ---- Section One---- */



.section-one{
    background: url(./img/page-background.png);
    color: #222;
    position: relative;
    top: 230px;
}

.section-one > .section-container {
    padding: 10px 0;
    width: 80%;
    height: 230px;
    margin: 0 auto;
}
.section-one > .section-container > h3 {
    color: #53555c;
}
    
.section-one > .section-container > .section-row {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.section-one > .section-container > .section-row > .section-card {
    width: 360px;
    height: 120px;
    display: flex;
}
.section-one > .section-container > .section-row > .section-card > a {
    width: 224px;
    height: 88px;
    line-height: 28px;
    font-size: 13px;
    text-align: justify;
    text-decoration: none;
    color: #000;
    padding-left: 10px;
}
.section-one > .section-container > .section-row > .section-card > .section-card-buttom{
    background-image: url(./img/in-press.png);
    position: absolute;
    top: 160px;
    width: 120px;
    height: 32px;
    transition: 0.5s ease;
}
.section-one > .section-container > .section-row > .section-card > .section-card-buttom:hover{
    background-position-y: -35px;
}

.section-one > .section-container > .section-row > .section-card > a:hover{
    color: #4f8db3;
    transition: 0.25s linear;
}

.section-pic {
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    border-radius: 100%;
    box-shadow: inset 0 1px #fff, 0 1px 2px #7283BC;
}

.section-one > .section-container > .section-portal-buttom{
    margin-top: 10px;
    float: left;
    width: 227px;
    height: 32px;
    background-image: url(./img/a-left.png) ;
    transition: 0.3s ease;
}
.section-one > .section-container > .section-portal-buttom:hover{
    background-position-y: -35px;
}



/* ---- Section Two ---- */

.section-two {
    position: relative;
    top: 230px;
}
.section-two > .sec-cont{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;

}

.section-two > .sec-cont > .sec-card{
    width: 48%;
    border: 1px solid black;
}
.section-two > .sec-cont > .sec-card a{
    font-size: 13px;
    text-decoration: none;
    color: #000;
    line-height: 31px;
}
.section-two > .sec-cont > .sec-card a:hover{
    text-decoration: underline;
    color: #4f8db3;
}
.section-two > .sec-cont > .sec-card > .sec-title > a {
    font-size: 14.3px;
    color: #0060a6;
    padding: 5px;
    text-decoration: none;
}
.section-two > .sec-cont > .sec-card > .sec-lists{
    display: flex;
    padding-top: 5px;
}
.section-two > .sec-cont > .sec-card > .sec-lists > .sec-list{
    padding-left: 5px;
}
.section-two > .sec-cont > .sec-card img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

/* ---- Section Orange ---- */

.section-orange{
    position: relative;
    top: 230px;
    height: 125px;
    background-color: #dc3c00;
}
.section-orange > .sec-orange-cont{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.section-orange > .sec-orange-cont > .sec-org-card {
    width: 25%;
}
.section-orange > .sec-orange-cont > .sec-org-card img{
    vertical-align: middle;
}
.section-orange > .sec-orange-cont > .sec-org-card a{
    padding-right: 5px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
.section-orange > .sec-orange-cont > .sec-org-card a:hover {
    text-decoration: underline;
}

/* ---- Footer ---- */

.footer-container{
    height: 560px;
    padding: 30px 0;
    background-image: url(./img/page-background.png);
    position: relative;
    top: 230px;
}

.footer-lists{
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.footer-container > .footer-lists > .footer-list {
    width: 25%;
}
footer > .footer-container > .footer-lists > .footer-list li {
    text-decoration: none;
    list-style: none;
}
.footer-container > .footer-lists > .footer-list > li a{
    text-decoration: none;
    color: #428bca;
    font-size: 13px;
}

.footer-container > .footer-lists > .footer-list > li:hover{
    text-decoration: underline;
}

.copyright{
    text-align: center;
    font-size: 12px;
    color: #808080;
}